.elements__figcaption {
  position: relative;

  overflow: hidden;

  margin: 25px 0 31px 21px;
  padding-right: 15%;

  white-space: nowrap;
  text-overflow: ellipsis;

  color: #000000;

  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
}
