.profile__name {
  margin: 0 0 16px 0;
  padding: 0;
  color: white;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 85%;
}
@media (max-width: 750px) {
  .profile__name {
    width: 100%;
    margin: 0 0 14px 0;
    font-size: 27px;
    text-align: center;
    line-height: 33px;
  }
}
