.profile__add-btn {
  position: relative;

  min-width: 150px;
  min-height: 50px;

  cursor: pointer;

  border: 1px solid white;
  background-color: transparent;
}

.profile__add-btn::before {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 22px;
  height: 2px;

  content: '';
  transform: translate(-50%, -50%);

  background-color: white;
}

.profile__add-btn::after {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  content: '';
  transform: translate(-50%, -50%);

  background-color: white;
}

@media (max-width: 670px) {
  .profile__add-btn {
    align-self: stretch;
  }
}
