.profile__add-btn {
  position: relative;
  min-width: 150px;
  min-height: 50px;
  cursor: pointer;
  border: 1px solid white;
  background-color: transparent;
  background: center no-repeat url(../../../images/profile/profile__add-btn.svg);
}
.profile__add-btn:hover {
  opacity: 0.8;
}
@media (max-width: 670px) {
  .profile__add-btn {
    align-self: stretch;
  }
}
