.popup__input-description {
  width: 100%;
  padding-bottom: 10px;
  color: #000000;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  font-size: 14px;
  line-height: 17px;
}
.popup__input-description:focus {
  outline: none;
}
