.popup__input-description {
  width: 100%;
  margin: 0;
  padding: 0;

  color: #000000;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  background-color: transparent;

  font-size: 14px;
  line-height: 17px;
}
