.profile__edit-btn {
  width: 24px;
  height: 24px;
  margin-top: 15px;
  margin-left: 18px;
  padding: 0;
  cursor: pointer;
  border: 1px solid white;
  background-color: transparent;
}
.profile__edit-btn:hover {
  opacity: 0.8;
}
@media (max-width: 670px) {
  .profile__edit-btn {
    position: absolute;
    top: 15px;
    top: 8px;
    right: 0;
    right: 15px;
    width: 18px;
    height: 18px;
    margin-left: 0;
  }
}
