.profile__edit-btn {
  position: absolute;
  top: 15px;
  right: 0;

  width: 24px;
  height: 24px;
  padding: 0;

  cursor: pointer;

  border: 1px solid white;
  background-color: transparent;
}

.profile__edit-btn:hover {
  opacity: .8;
}

@media (max-width: 670px) {
  .profile__edit-btn {
    top: 8px;
    right: 15px;

    width: 18px;
    height: 18px;
  }
}
